@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
:root {
  --Inter: "Inter", sans-serif;
  --Merriweather: "Merriweather", serif;
  --DarkBlue: #0F2C4D;
  --White: #ffffff;
  --Bg: #E9EFF5;
  --Blue: #0770DC;
  --Cyan: #15A1EF;
  --Grey: #7590AD;
  --Red: #E40520;
  --DarkGrey: #0F2C4D;
  --Line: #CFD8E2;
  --Black: #000000;
  --Grad: linear-gradient(277.49deg, rgba(7, 112, 220, 0.8) 0%, rgba(7, 112, 220, 0) 100%), #00163A;
  --fsz: 16px;
}

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-400.woff2") format("woff2"), url("../fonts/inter-400.woff") format("woff");
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/inter-500.woff2") format("woff2"), url("../fonts/inter-500.woff") format("woff");
}
/* inter-700 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-700.woff2") format("woff2"), url("../fonts/inter-700.woff") format("woff");
}
/* inter-900 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter-900.woff2") format("woff2"), url("../fonts/inter-900.woff") format("woff");
}
/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/merriweather-400.woff2") format("woff2"), url("../fonts/merriweather-400.woff") format("woff");
}
/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/merriweather-700.woff2") format("woff2"), url("../fonts/merriweather-700.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--Inter);
  background-color: var(--White);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--DarkBlue);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 40px 0 50px;
}
@media (max-width: 425px) {
  .section {
    padding: 30px 0 40px;
  }
}

.grid-list {
  padding: 3em;
  margin-bottom: 4em;
  border: 1px solid #000000;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.wrapper {
  max-width: 1600px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 425px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 365px) {
  .wrapper {
    padding: 0 10px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 14px 24px;
  background-color: var(--Blue);
  border: 1px solid;
  border-color: var(--Blue);
  cursor: pointer;
  box-shadow: none;
  color: var(--White);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: var(--Inter);
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button--transparent {
  background-color: transparent;
  color: var(--green);
}
.button--icon {
  display: flex;
  align-items: center;
}
.button--icon svg {
  margin-left: 10px;
}
.button--big {
  padding: 28px 40px;
  height: initial;
  font-size: 16px;
}
@media (max-width: 768px) {
  .button--big {
    padding: 20px 30px;
    font-size: 14px;
  }
}

.title {
  font-weight: 900;
  line-height: 1.25;
  color: var(--white);
  margin: 0;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 32px;
}

.accordion {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.accordion__top {
  padding: 19px 23px;
  display: grid;
  grid-template-columns: 10px auto;
  gap: 24px;
  align-items: center;
  cursor: pointer;
}
.accordion__top svg {
  pointer-events: none;
  transition: all 0.3s;
  transform: rotate(0);
}
.accordion__top .line {
  transform: translateY(8px);
  transition: all 0.3s;
}
.accordion__title {
  font-family: var(--bebas);
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  pointer-events: none;
  transition: all 0.3s;
}
.accordion__body {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.accordion__top.active .accordion__title {
  color: var(--green);
}
.accordion__top.active svg {
  transform: rotate(180deg);
}
.accordion__top.active .line {
  transform: translateY(0);
  transition: all 0.3s;
}
.accordion__top.active + .accordion__body {
  padding: 17px 0;
  opacity: initial;
  visibility: initial;
  height: initial;
  overflow: initial;
}
.accordion + .accordion {
  border-top: none;
}
@media (max-width: 920px) {
  .accordion__top.active + .accordion__body {
    padding: 16px 0 50px;
  }
}
@media (max-width: 768px) {
  .accordion__top {
    padding: 16px;
  }
}

.nav-button {
  position: relative;
  width: 32px;
  height: 32px;
  transition-duration: 0.5s;
  cursor: pointer;
  margin: auto;
  border: none;
  padding: 0;
  display: block;
}
.nav-button .icon {
  pointer-events: none;
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 32px;
  top: 16px;
  background-color: var(--Blue);
  left: 0;
}
.nav-button .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 32px;
  height: 2px;
  left: 0;
  background-color: var(--Blue);
  content: "";
  top: -11px;
}
.nav-button .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 32px;
  height: 2px;
  left: 0;
  background-color: var(--Blue);
  content: "";
  top: 11px;
}
.nav-button.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.nav-button.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6px, 8px);
}
.nav-button.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -8px);
}

.tag-list {
  display: flex;
}
.tag-list__item {
  margin-right: 12px;
}
.tag-list__item:last-child {
  margin-right: 0;
}
.tag-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--White);
  padding: 9px 16px;
  background: var(--Cyan);
  border-radius: 4px;
  text-align: center;
}
.tag-list__link span {
  font-family: inherit;
  color: inherit;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  color: var(--White);
}
.header__grid {
  display: grid;
  grid-template-columns: 262px 1fr;
  gap: 32px;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.15);
}
.header__logo img {
  display: block;
}
.header__menu-button {
  display: none;
}
@media (max-width: 1024px) {
  .header__grid {
    grid-template-columns: 262px 1fr 30px;
  }
  .header__menu-button {
    display: block;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation__link {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px 21px 40px;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  color: var(--White);
}
.navigation__link span {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.navigation__link svg {
  display: none;
  flex-shrink: 0;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  color: var(--Cyan);
}
.navigation__item--mod .navigation__link {
  padding: 0;
  justify-content: flex-end;
  margin-left: 23px;
}
.navigation__item--mod .navigation__link svg path,
.navigation__item--mod .navigation__link svg rect {
  transition: stroke 0.3s;
}
.navigation__item--mod .navigation__link:hover, .navigation__item--mod .navigation__link:active, .navigation__item--mod .navigation__link:focus {
  background-color: transparent;
}
.navigation__item--mod .navigation__link:hover svg path,
.navigation__item--mod .navigation__link:hover svg rect, .navigation__item--mod .navigation__link:active svg path,
.navigation__item--mod .navigation__link:active svg rect, .navigation__item--mod .navigation__link:focus svg path,
.navigation__item--mod .navigation__link:focus svg rect {
  stroke: var(--Cyan);
}
.navigation__item--mod span {
  display: none;
}
.navigation__item--mod svg {
  display: block;
}
.navigation__list--sub {
  display: none;
}
.navigation__link.active, .navigation__link:not([href]) {
  background-color: var(--Cyan);
  color: var(--White) !important;
}
@media (max-width: 1024px) {
  .navigation__link svg {
    display: block;
  }
}

.home-screen {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100%;
  background: var(--Grad);
  color: var(--White);
  padding-top: 206px;
  min-height: 100vh;
}
.home-screen__grid {
  display: grid;
  grid-template-columns: 1fr 96px;
  gap: 32px;
  align-items: center;
}
.home-screen__slide-grid {
  display: grid;
  grid-template-columns: 400px 864px;
  align-items: center;
  justify-content: space-between;
  gap: 115px;
}
.home-screen__image img {
  display: block;
}
.home-screen__details-top {
  display: flex;
  align-items: center;
  color: var(--White);
  margin-bottom: 22px;
}
.home-screen__details-top p {
  margin: 0;
  margin-left: 12px;
  font-size: 18px;
  margin-bottom: 1;
}
.home-screen__details-center {
  padding-bottom: 36px;
  margin-bottom: 45px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.7);
}
.home-screen__details-center .title {
  font-size: 64px;
  text-transform: initial;
  line-height: 1.12;
}
.home-screen__details-bottom {
  display: flex;
  align-items: flex-start;
}
.home-screen__label {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
}
.home-screen__label span {
  display: block;
  color: var(--White);
  font-weight: 900;
  font-size: 56px;
  margin-top: 5px;
}
.home-screen__buttons {
  display: grid;
  grid-template-columns: repeat(2, 224px);
  margin-left: 32px;
  gap: 32px;
}
.home-screen__navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 10%;
}
.home-screen .button {
  font-size: 14px;
  padding: 22px 45px;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.home-screen .swiper-button {
  width: 26px;
  height: 20px;
  display: block;
}
.home-screen .swiper-button::after {
  display: none;
}
.home-screen .swiper-button-next,
.home-screen .swiper-button-prev,
.home-screen .swiper-pagination {
  position: initial !important;
  transform: none !important;
}
.home-screen .swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-screen .swiper-pagination-bullet {
  position: initial !important;
  transform: none !important;
  margin: 0 !important;
  margin-bottom: 32px !important;
  width: 8px;
  height: 8px;
  background-color: var(--White);
}
.home-screen .swiper-pagination-bullet:last-child {
  margin-bottom: 0 !important;
}