@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
:root {
  --Inter: "Inter", sans-serif;
  --Merriweather: "Merriweather", serif;
  --DarkBlue: #0F2C4D;
  --White: #ffffff;
  --Bg: #E9EFF5;
  --Blue: #0770DC;
  --Cyan: #15A1EF;
  --Grey: #7590AD;
  --Red: #E40520;
  --DarkGrey: #0F2C4D;
  --Line: #CFD8E2;
  --Black: #000000;
  --Grad: linear-gradient(277.49deg, rgba(7, 112, 220, 0.8) 0%, rgba(7, 112, 220, 0) 100%), #00163A;
  --fsz: 16px;
}

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-400.woff2") format("woff2"), url("../fonts/inter-400.woff") format("woff");
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/inter-500.woff2") format("woff2"), url("../fonts/inter-500.woff") format("woff");
}
/* inter-700 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-700.woff2") format("woff2"), url("../fonts/inter-700.woff") format("woff");
}
/* inter-900 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter-900.woff2") format("woff2"), url("../fonts/inter-900.woff") format("woff");
}
/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/merriweather-400.woff2") format("woff2"), url("../fonts/merriweather-400.woff") format("woff");
}
/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/merriweather-700.woff2") format("woff2"), url("../fonts/merriweather-700.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--Inter);
  background-color: var(--White);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--DarkBlue);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 40px 0 50px;
}
.section__top {
  display: grid;
  gap: 32px;
  align-items: flex-start;
  grid-template-columns: 1fr 225px;
  padding-bottom: 40px;
  margin-bottom: 48px;
  border-bottom: 1px solid;
  border-color: var(--Line);
}
.section__top .button {
  width: 100%;
  max-width: 100%;
  padding: 16px 24px;
}
.section__top--clear {
  border: none;
  margin-bottom: 30px;
  padding-bottom: 0;
}
@media (max-width: 425px) {
  .section {
    padding: 30px 0 40px;
  }
}

.grid-list {
  padding: 3em;
  margin-bottom: 4em;
  border: 1px solid #000000;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.wrapper {
  max-width: 1600px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 425px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 365px) {
  .wrapper {
    padding: 0 10px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 14px 24px;
  background-color: var(--Cyan);
  border: 1px solid;
  border-color: var(--Cyan);
  cursor: pointer;
  box-shadow: none;
  color: var(--White);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: var(--Inter);
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button--blue {
  background-color: var(--Blue);
  border-color: var(--Blue);
}
.button--transparent {
  background-color: transparent;
  color: var(--green);
}
.button--icon {
  display: flex;
  align-items: center;
}
.button--icon svg {
  margin-left: 10px;
}
.button--big {
  padding: 28px 40px;
  height: initial;
  font-size: 16px;
}
.button--mega {
  max-width: 100%;
  background-color: var(--Red);
  border-color: var(--Red);
}
@media (max-width: 768px) {
  .button--big {
    padding: 20px 30px;
    font-size: 14px;
  }
}

.title {
  font-weight: 900;
  line-height: 1.25;
  color: var(--white);
  margin: 0;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 32px;
}

.accordion {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.accordion__top {
  padding: 19px 23px;
  display: grid;
  grid-template-columns: 10px auto;
  gap: 24px;
  align-items: center;
  cursor: pointer;
}
.accordion__top svg {
  pointer-events: none;
  transition: all 0.3s;
  transform: rotate(0);
}
.accordion__top .line {
  transform: translateY(8px);
  transition: all 0.3s;
}
.accordion__title {
  font-family: var(--bebas);
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  pointer-events: none;
  transition: all 0.3s;
}
.accordion__body {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.accordion__top.active .accordion__title {
  color: var(--green);
}
.accordion__top.active svg {
  transform: rotate(180deg);
}
.accordion__top.active .line {
  transform: translateY(0);
  transition: all 0.3s;
}
.accordion__top.active + .accordion__body {
  padding: 17px 0;
  opacity: initial;
  visibility: initial;
  height: initial;
  overflow: initial;
}
.accordion + .accordion {
  border-top: none;
}
@media (max-width: 920px) {
  .accordion__top.active + .accordion__body {
    padding: 16px 0 50px;
  }
}
@media (max-width: 768px) {
  .accordion__top {
    padding: 16px;
  }
}

.nav-button {
  position: relative;
  width: 32px;
  height: 32px;
  transition-duration: 0.5s;
  cursor: pointer;
  margin: auto;
  border: none;
  padding: 0;
  display: block;
}
.nav-button .icon {
  pointer-events: none;
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 32px;
  top: 16px;
  background-color: var(--Blue);
  left: 0;
}
.nav-button .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 32px;
  height: 2px;
  left: 0;
  background-color: var(--Blue);
  content: "";
  top: -11px;
}
.nav-button .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 32px;
  height: 2px;
  left: 0;
  background-color: var(--Blue);
  content: "";
  top: 11px;
}
.nav-button.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.nav-button.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6px, 8px);
}
.nav-button.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -8px);
}

.tag-list {
  display: flex;
}
.tag-list__item {
  margin-right: 12px;
}
.tag-list__item:last-child {
  margin-right: 0;
}
.tag-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--DarkGrey);
  padding: 8px 16px;
  background: var(--White);
  border-radius: 4px;
  text-align: center;
  border: 1px solid;
  border-color: var(--Line);
}
.tag-list__link span {
  font-family: inherit;
  color: inherit;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.card-list a {
  display: block;
}
.card-list img {
  display: block;
  margin-bottom: 12px;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
.card-list .date {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(15, 44, 77, 0.7);
  margin-bottom: 32px;
}
.card-list .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #0f2c4d;
  margin: 0;
  text-transform: initial;
}
.card-list--two {
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.picture-with-text {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.picture-with-text__image {
  max-width: 608px;
  margin-right: auto;
}
.picture-with-text__image img {
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.picture-with-text .title {
  font-size: 24px;
  text-transform: none;
  font-weight: 700;
}

.text {
  font-family: var(--Merriweather);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(15, 44, 77, 0.8);
}

.tags-with-label {
  display: flex;
  align-items: center;
  color: var(--White);
}
.tags-with-label p {
  margin: 0;
  margin-left: 12px;
  color: var(--DarkGrey);
  opacity: 0.7;
  font-size: 14px;
}

.votes-number {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(var(--DarkGrey), 0.7);
}
.votes-number span {
  display: block;
  color: rgba(var(--DarkGrey), 1);
  font-weight: 900;
  font-size: 48px;
  margin-top: 5px;
}

.card-item-long {
  border: 1px solid;
  border-color: var(--Line);
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.card-item-long .card-item__left {
  padding: 16px 0 16px 16px;
  width: 100%;
  max-width: 336px;
  margin-right: 32px;
}
.card-item-long img {
  display: block;
}
.card-item-long .card-item__center {
  padding: 30px 40px;
  padding-right: 32px;
  width: 100%;
  max-width: 736;
  flex-grow: 2;
  position: relative;
}
.card-item-long .card-item__center::before {
  content: "";
  display: block;
  width: 1px;
  height: 200%;
  background-color: var(--Line);
  position: absolute;
  bottom: -50%;
  top: -50%;
  right: 0;
}
.card-item-long .card-item__right {
  padding: 28px 40px;
  width: 100%;
  max-width: 336px;
}
.card-item-long .votes-number {
  margin-bottom: 16px;
}
.card-item-long .button {
  max-width: 100%;
}
.card-item-long .tags-with-label {
  margin-bottom: 2px;
}
.card-item-long .title {
  font-size: 24px;
  text-transform: initial;
  padding-bottom: 13px;
  position: relative;
  margin-bottom: 10px;
}
.card-item-long .title::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: var(--Line);
  position: absolute;
  bottom: 0;
  left: 0;
}
.card-item-long .text {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  color: var(--White);
  transition: color 0.3s;
}
.header::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: width 0.3s;
}
.header__grid {
  display: grid;
  grid-template-columns: 262px 1fr;
  gap: 32px;
  align-items: center;
}
.header__logo img {
  display: block;
}
.header__menu-button {
  display: none;
}
@media (max-width: 1024px) {
  .header__grid {
    grid-template-columns: 262px 1fr 30px;
  }
  .header__menu-button {
    display: block;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation__link {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px 21px 40px;
  background-color: transparent;
  transition: background-color 0.3s linear, color 0.3s, padding 0.3s;
  color: var(--White);
}
.navigation__link span {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  text-align: center;
  pointer-events: none;
}
.navigation__link svg {
  display: none;
  flex-shrink: 0;
  pointer-events: none;
}
.navigation__link.current-page {
  background: var(--Blue);
}
.navigation__item--mod .navigation__link {
  padding: 0;
  justify-content: flex-end;
  margin-left: 23px;
}
.navigation__item--mod .navigation__link svg path,
.navigation__item--mod .navigation__link svg rect {
  transition: stroke 0.3s;
}
.navigation__item--mod .navigation__link:hover, .navigation__item--mod .navigation__link:active, .navigation__item--mod .navigation__link:focus {
  background-color: transparent;
}
.navigation__item--mod .navigation__link:hover svg path,
.navigation__item--mod .navigation__link:hover svg rect, .navigation__item--mod .navigation__link:active svg path,
.navigation__item--mod .navigation__link:active svg rect, .navigation__item--mod .navigation__link:focus svg path,
.navigation__item--mod .navigation__link:focus svg rect {
  stroke: var(--Cyan);
}
.navigation__item--mod span {
  display: none;
}
.navigation__item--mod svg {
  display: block;
}
.navigation__sub {
  background: var(--Blue);
  position: absolute;
  width: 100%;
  max-width: 100%;
  padding: 32px;
  left: 0;
  top: 100%;
  margin-top: -1px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
}
.navigation__sub.show {
  opacity: 1;
  pointer-events: initial;
  visibility: initial;
}
.navigation__list--sub {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
}
.navigation__item--sub a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s;
}
.navigation__item--sub a svg {
  margin-right: 16px;
  transition: transform 0.3s;
}
.navigation__item--sub a:hover {
  background-color: var(--Cyan);
}
.navigation__item--sub a:hover svg {
  transform: rotate(90deg);
}
.navigation__link.active, .navigation__link:not([href]) {
  background-color: var(--Cyan);
  color: var(--White) !important;
}
.navigation__item:hover .navigation__link {
  background-color: var(--Blue);
}
.navigation__item:hover .navigation__sub {
  opacity: 1;
  pointer-events: initial;
  visibility: initial;
}
@media (max-width: 1024px) {
  .navigation__link svg {
    display: block;
  }
}

.home-screen {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100%;
  background: var(--Grad);
  color: var(--White);
  padding-top: 206px;
  min-height: 900px;
}
.home-screen__slide {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}
.home-screen__grid {
  display: grid;
  grid-template-columns: 1376px 96px;
  gap: 32px;
  align-items: center;
}
.home-screen__slide-grid {
  display: flex;
  align-items: center;
  max-width: 1376px;
  width: 100%;
}
.home-screen__image {
  max-width: 400px;
  width: 100%;
}
.home-screen__image img {
  display: block;
}
.home-screen__details {
  max-width: 864px;
  width: 100%;
  margin-left: auto;
}
.home-screen__details-top {
  margin-bottom: 22px;
}
.home-screen .tags-with-label {
  margin-bottom: 22px;
}
.home-screen .tags-with-label p {
  color: var(--White);
  opacity: 1;
  font-size: 18px;
}
.home-screen .tag-list__link {
  background-color: var(--Cyan);
  color: var(--White);
  border-color: var(--Cyan);
}
.home-screen__details-center {
  padding-bottom: 36px;
  margin-bottom: 45px;
  position: relative;
}
.home-screen__details-center::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 2s, opacity 0.9s;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0;
}
.home-screen__details-center .title {
  font-size: 64px;
  text-transform: initial;
  line-height: 1.12;
}
.home-screen__details-bottom {
  display: flex;
  align-items: flex-start;
}
.home-screen .votes-number {
  color: rgba(255, 255, 255, 0.7);
}
.home-screen .votes-number span {
  font-size: 56px;
  color: white;
}
.home-screen__buttons {
  display: grid;
  grid-template-columns: repeat(2, 224px);
  margin-left: 32px;
  gap: 32px;
}
.home-screen__navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 10%;
}
.home-screen .button {
  font-size: 14px;
  padding: 22px 45px;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.home-screen .swiper {
  width: 100%;
  height: 100%;
  overflow: initial;
}
.home-screen .swiper-slide {
  transition: opacity 0.3s;
}
.home-screen .swiper-slide-active {
  opacity: 1;
}
.home-screen .swiper-slide-active .home-screen__details-center::after {
  width: 100%;
  opacity: 1;
}
.home-screen .swiper-slide-next,
.home-screen .swiper-slide-prev {
  opacity: 0;
}
.home-screen__navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: initial;
  right: initial;
}
.home-screen__navigation .swiper-button {
  position: relative;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  margin-bottom: 45px;
}
.home-screen__navigation .swiper-button:after {
  display: none;
}
.home-screen__navigation .swiper-button svg {
  pointer-events: none;
}
.home-screen__navigation .swiper-button:last-child {
  margin-bottom: 0;
}
.home-screen__navigation .swiper-pagination {
  display: flex;
  flex-direction: column;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  position: relative;
  width: max-content;
  margin-bottom: 45px;
}
.home-screen__navigation .swiper-pagination-bullet {
  margin: 0 !important;
  background-color: var(--Cyan);
  opacity: 1;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 24px !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.home-screen__navigation .swiper-pagination-bullet::before {
  width: 24px;
  height: 24px;
  pointer-events: none;
  position: absolute;
  content: "";
  display: block;
  border: 2px solid;
  border-color: transparent;
  transition: border-color 0.3s;
  border-radius: 50%;
}
.home-screen__navigation .swiper-pagination-bullet:last-child {
  margin-bottom: 0;
}
.home-screen__navigation .swiper-pagination-bullet-active {
  background-color: var(--White);
}
.home-screen__navigation .swiper-pagination-bullet-active::before {
  border-color: var(--White);
}

.map {
  max-width: 1504px;
  margin: 0 auto;
  margin-top: -160px;
  border-radius: 4px;
  overflow: hidden;
}
.map_wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
}
.map__content {
  height: 464px;
  width: 100%;
}
@media (max-width: 768px) {
  .map__content {
    height: 320px;
  }
}

/** dealer-detail */
[class*=copyrights-pane] {
  display: none !important;
}

.first-of-all .card-list {
  margin-bottom: 48px;
}

.news {
  background-color: rgba(233, 239, 245, 0.5);
}

.footer {
  background-color: #00163A;
}

.header-sticky .header {
  background: var(--Grad);
}
.header-sticky .header::after {
  width: 100%;
}
.header-sticky .header__grid::after {
  width: 0;
}
.header-sticky .navigation__link {
  padding-top: 29px;
  padding-bottom: 29px;
}
.header-sticky .navigation__link.active {
  background-color: var(--Blue);
  color: var(--White) !important;
}
.header-sticky .navigation__item--mod .navigation__link {
  padding: 0;
}