@charset "utf-8";

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@import "site/variables";
@import "site/fonts";
@import "site/global";

@import "bem/visually-hidden";
@import "bem/list-reset";
@import "bem/section";
@import "bem/grid-list";

@import "bem/wrapper";
@import "bem/container";
@import "bem/button";
@import "bem/title";
@import "bem/accordion";
@import "bem/nav-button";
@import "bem/tag-list";
@import "bem/swiper-button";
@import "bem/card-list";
@import "bem/text";
@import "bem/tags-with-label";
@import "bem/votes-number";
@import "bem/card-item-long";
@import "bem/tabs";
@import "bem/pagination";
@import "bem/voices-button";
@import "bem/hgroup";
@import "bem/form";
@import "bem/article-list";
@import "bem/map";

@import "sections/inner-page";
@import "sections/main";
@import "sections/header";
@import "sections/navigation";
@import "sections/home-screen";
@import "sections/first-of-all";
@import "sections/news";
@import "sections/footer";
@import "sections/hero";
@import "sections/content";
@import "sections/about";

@import "bem/header-sticky";
@import "bem/mob-menu-open";

@media (max-width: 1440px) {
  .header-sticky .header .navigation__link.active {
    border-color: transparent;
    background-color: transparent;
  }
  .navigation__item.active .navigation-link-mod {
    span {
      color: var(--Blue);
    }
    svg {
      path {
        stroke: var(--Blue);
      }
    }
  }
  .navigation__item.active-mod {
    background-color: transparent;
  }
}
