:root {
  --Inter: 'Inter', sans-serif;
  --Merriweather: 'Merriweather', serif;

  --DarkBlue: #0F2C4D;
  --White: #ffffff;
  --Bg: #E9EFF5;
  --Blue: #0770DC;
  --Cyan: #15A1EF;
  --Grey: #7590AD;
  --Red: #E40520;
  --DarkGrey: #0F2C4D;
  --Line: #CFD8E2;
  --Black: #000000;

  --Grad: linear-gradient(277.49deg, rgba(7, 112, 220, 0.8) 0%, rgba(7, 112, 220, 0) 100%), #00163A;

  --fsz: 16px;
}
