.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 14px 24px;
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  cursor: pointer;
  box-shadow: none;
  color: var(--White);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: var(--Inter);
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: all 0.3s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
    border: 1px solid;
    pointer-events: none;
    border-radius: 4px;
    background-color: var(--Cyan);
    border-color: var(--Cyan);
  }
  span {
    position: relative;
  }
  svg {
    transition: stroke 0.3s;
    position: relative;
    margin-right: 16px;
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    &::before {
      left: -4px;
      right: -4px;
      top: -4px;
      bottom: -4px;
    }
    span {
      color: var(--White);
    }
    svg {
      path {
        stroke: var(--White);
      }
    }
  }

  &--blue {
    &::before {
      background-color: var(--Blue);
      border-color: var(--Blue);
    }
  }

  &--left {
    margin-right: auto;
    padding: 20px 40px;
  }

  &--big {
    padding: 28px 40px;
    height: initial;
    font-size: 16px;
  }

  &--mega {
    max-width: 100%;
    padding: 20px 24px;

    &::before {
      background-color: var(--Red);
      border-color: var(--Red);
    }
  }

  &--white {
    color: var(--DarkGray);
    &::before {
      background-color: var(--White);
      border-color: var(--Line);
    }
    svg {
      path {
        stroke: var(--Cyan);
      }
    }

    &:hover {
      color: var(--DarkGray);
      span {
        color: var(--DarkGray);
      }

      svg {
        path {
          stroke: var(--Cyan);
        }
      }
    }
  }

  &--more {
    color: var(--DarkGray);
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 20px 24px;
    margin-bottom: 16px;

    &::before {
      background-color: var(--White);
      border-color: var(--Line);
    }

    svg {

      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: var(--White);

      &::before {
        background-color: var(--Cyan);
        border-color: var(--Cyan);
      }
      svg {
        path {
          stroke: var(--White);
        }
      }
    }
  }

  @media (max-width: 768px) {
    &--big {
      padding: 20px 30px;
      font-size: 14px;
    }
  }
}
