.card-item-long {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: left 0.3s, right 0.3s, top 0.3s, bottom 0.3s, background-color 0.3s, box-shadow 0.3s;
    pointer-events: none;
    border-radius: 4px;
    background-color: var(--White);
    border: 1px solid #cfd8e2;
    z-index: 0;
  }

  &__left {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 28px 41px 35px;
    padding-right: 32px;
    border-right: 1px solid;
    border-color: var(--Line);
    position: relative;
  }
  &__image {
    max-width: 336px;
    width: 100%;
    margin-right: 32px;
    flex-shrink: 0;
    transition: all 0.3s;
    img {
      display: block;
      width: 100%;
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__desc {
    flex-grow: 2;
    position: relative;
  }
  &__right {
    padding: 0 40px;
    position: relative;
  }
  .votes-number {
    margin-bottom: 8px;
  }
  .button {
    max-width: 100%;
    margin: 0;
  }
  &__link {
    .title {
      transition: color 0.3s;
      margin-bottom: 22px;
      &--mod {
        padding-bottom: 14px;
        margin-bottom: 10px;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 40px;
          height: 1px;
          background-color: var(--Line);
        }
      }
    }
    &:hover {
      .title {
        color: var(--Cyan);
      }
    }
  }

  .text {
    margin: 0;
  }
  .tags-with-label {
    color: rgba(#0f2c4d, 0.7);
    margin-bottom: 3px;

    &__text {
      font-size: 14px;
    }
  }

  &--mod &__left {
    padding: 17px 17px 15px;
    align-items: flex-start;
  }
  &--mod &__desc {
    padding: 11px 0px;
  }

  &:hover {
    &::before {
      left: -11px;
      right: -11px;
      top: -5px;
      bottom: -5px;
      background-color: var(--White);
      box-shadow: 4px 4px 12px rgb(0 0 0 / 20%);
    }
  }

  @media (max-width: 1440px) {
    &__right {
      padding: 20px 40px;
    }
    &__left {
      padding: 28px 40px 22px;
    }
    .button {
      max-width: max-content;
      padding: 20px 65px;
    }
    .card-item-long__right {
      align-items: flex-start;
    }
  }

  @media (max-width: 1320px) {
    grid-template-columns: 1fr;

    &__left {
      border-bottom: 1px solid;
      border-right: none;
      border-color: var(--Line);
      align-items: flex-start;
    }
    .button {
      max-width: 272px;
    }
    &__right {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      max-width: 100%;
    }
    .votes-number {
      margin-right: 32px;
      margin-bottom: 0;
    }
  }

  @media (max-width: 755px) {
    &__left {
      display: block;
    }
    &__image {
      margin-right: 0;
      margin-bottom: 24px;
    }
    .title {
      font-size: 20px;
    }
    .text {
      font-size: 15px;
    }
    .votes-number span {
      font-size: 40px;
    }
    &--mod &__left {
      flex-direction: column;
    }
    &__image {
      max-width: 100%;
    }
    .votes-number {
      display: flex;
      align-items: center;
      &__text {
        font-size: 14px !important;
        margin: 0;
        margin-right: 12px;
        max-width: 85px;
      }
      &__big {
        font-size: 40px !important;
        margin: 0;
      }
    }
    .tag-list {
      margin-bottom: 12px;
    }

  }

  @media (max-width: 650px) {
    .votes-number {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 16px;

      span {
        margin-left: 12px;
      }
    }
  }

  @media (max-width: 500px) {
    &__left {
      padding: 20px;
    }
    &__right {
      padding: 20px;
      display: block;

      .button{
        max-width: 100%;
      }
    }
    .votes-number {
      margin-right: 0;
    }


  }
}
