.card-item-long {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  align-items: center;
  // border: 1px solid;
  // border-color: var(--Line);
  // border-radius: 4px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: left 0.3s, right 0.3s, top 0.3s, bottom 0.3s, background-color 0.3s, box-shadow 0.3s;
    pointer-events: none;
    border-radius: 4px;
    background-color: var(--White);
    border: 1px solid #cfd8e2;
    z-index: 0;
  }

  &__left {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px;
    padding-right: 32px;
    border-right: 1px solid;
    border-color: var(--Line);
    position: relative;
  }
  &__image {
    max-width: 336px;
    width: 100%;
    margin-right: 32px;
    flex-shrink: 0;
    img {
      display: block;
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__desc {
    flex-grow: 2;
    position: relative;
  }
  &__right {
    padding: 16px;
    padding-left: 40px;
    position: relative;
  }
  .votes-number {
    margin-bottom: 16px;
  }
  .button {
    max-width: 100%;
    margin-right: 24px;
  }
  &__link {
    .title {
      transition: color 0.3s;
    }
   &:hover {
    .title {
      color: var(--Cyan);
    }
   }
  }

  &:hover {
    &::before {
      left: -11px;
      right: -11px;
      top: -5px;
      bottom: -5px;
      background-color: var(--White);
      box-shadow: 4px 4px 12px rgb(0 0 0 / 20%);
    }

  }

  @media (max-width: 1320px) {
    grid-template-columns: 1fr;

    &__left {
      border-bottom: 1px solid;
      border-right: none;
      border-color: var(--Line);
      align-items: flex-start;
    }
    .button {
      max-width: 272px;
    }
    &__right {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      max-width: 100%;
    }
    .votes-number {
      margin-right: 32px;
      margin-bottom: 0;
    }
  }

  @media (max-width: 735px) {
    &__left {
      display: block;
    }
    &__image {
      margin-right: 0;
      margin-bottom: 24px;
    }
    .title {
      font-size: 20px;
    }
    .text {
      font-size: 15px;
    }
    .votes-number span {
      font-size: 40px;
    }
  }

  @media (max-width: 650px) {
    .votes-number {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 16px;

      span {
        margin-left: 12px;
      }
    }
  }
}
