.header-sticky {
  .header {
    background: var(--Grad);

    &::after {
      width: 100%;
    }

    &__grid {
      &::after {
        width: 0;
      }
    }
  }
  .navigation {
    &__link {
      padding-top: 29px;
      padding-bottom: 29px;
    }
  }
}
