.pagination {
  margin-bottom: 40px;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    padding: 18px 30px;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--Line);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: var(--DarkBlue);
    text-align: center;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      background-color: var(--Cyan);
      border-color: var(--Cyan);
      color: var(--White);
      svg {
        path {
          stroke: var(--White);
        }
      }
    }

    &--dotted {
      border-color: transparent;
      flex-grow: 2;
      pointer-events: none;
    }
    &--text {
      border-color: var(--Line);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 224px;
    }
    &--prev {
      svg {
        margin-right: 12px;
      }
    }
    &--next {
      svg {
        margin-left: 12px;
      }
    }
  }

  @media (max-width: 1440px) {
    .pagination__link--text {
      min-width: initial;
      span {
        display: none;
      }
    }
    .pagination__item {
      margin-right: 12px;
    }
    .pagination__link {
      padding: 14px 15px;
    }
    .pagination__link svg {
      margin: 0;
    }
    .pagination__list {
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .pagination__link {
      padding: 10px 10px;
      font-size: 12px;
    }
  }
}
