.picture-with-text {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  &__image {
    max-width: 608px;
    margin-right: auto;
    img {
      display: block;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
    }
  }
  &__details {

  }
  .title {
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
    // margin-bottom: 24px;
  }

}
