.section {
  padding: 40px 0 50px;

  &__top {
    display: grid;
    gap: 32px;
    align-items: flex-start;
    grid-template-columns: 1fr 225px;
    padding-bottom: 40px;
    margin-bottom: 48px;
    border-bottom: 1px solid;
    border-color: var(--Line);

    .button {
      width: 100%;
      max-width: 100%;
      padding: 16px 24px;
    }

    &--clear {
      border: none;
      margin-bottom: 30px;
      padding-bottom: 0;
    }
  }
  @media (max-width: 650px) {
    &__top {
      grid-template-columns: 1fr;
      gap: 16px;

      .button {
        width: 100%;
        max-width: max-content;
        padding: 16px 24px;
      }
    }
  }

  @media (max-width: 425px) {
    padding: 30px 0 40px;
  }
}
