.tags-with-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--White);

  p {
    margin: 0;
    // margin-left: 12px;
    color: var(--DarkGrey);
    opacity: 0.7;
    font-size: 14px;
}
}
