.voices-button {
  display: flex;
  align-items: flex-end;
  &__number {
    margin: 0;
    margin-right: 32px;
    line-height: 1;
    color: rgba(#ffffff, 0.7);
    font-size: 14px;
    font-weight: 400;

    span {
      display: block;
      font-weight: 900;
      font-size: 56px;
      color: var(--White);
    }
  }
  &__buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }

    .button {
      font-size: 14px;
      padding: 22px 45px;
      background-color: var(--Blue);
      border-color: var(--Blue);
      color: var(--White);
    }
  }

  @media (max-width: 500px) {
    padding-top: 17px;
    display: block;
    width: 100%;
    &__number {
      display: grid;
      grid-template-columns: 95px 1fr;
      gap: 12px;
      align-items: center;
      margin: 0;
      margin-bottom: 12px;

      span {
        margin: 0;
        font-size: 52px;
      }
    }
  }

  @media (max-width: 425px) {
    .voices-button__number span {
      font-size: 40px;
    }
  }
}
