.wrapper {
  max-width: calc(1504px + 48px + 48px);
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 40px;
  }

  @media (max-width: 500px) {
    padding: 0 20px;
  }
  @media (max-width: 365px) {
    padding: 0 10px;
  }

}
