.about {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }

  &__image {
    max-width: 608px;
    margin-right: auto;
    transition: scale 0.3s;
    border-radius: 4px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;

    }

    &:hover {
      scale: 1.05;
    }
  }

  .lead {
    margin-top: 0;
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    &__grid {
      grid-template-columns: 1fr;
      gap: 23px;
    }

    &__image {
      max-width: 100%;
      margin-right: initial;
      width: 100%;
    }
  }
  @media (max-width: 650px) {
    .title {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  @media (max-width: 425px) {
    .lead {
      font-size: 18px;
    }

  }
}
