.hero {
  background: var(--Grad);
  padding-top: 135px;
  // min-height: 616px;
  color: var(--White);
  padding-bottom: 350px;

  &--min {
    // min-height: 256px;
  }

  &--mod {
    // min-height: 640px;
  }

  .title {
    text-decoration: none;
    text-transform: initial;
    font-weight: 900;
    font-size: 56px;
    line-height: 1.14;
    color: #ffffff;
  }

  & + .map {
    margin-top: -285px;
  }
}

.select-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 28px;

  &__group-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 12px;
  }

  .itc-select__toggle {
    padding: 14px 22px;
    font-size: 18px;
    color: rgba(#0f2c4d, 0.7);
    line-height: 1;
    font-style: normal;
    border-radius: 4px;
  }
  .itc-select__option {
    color: var(--DarkGrey);
    font-size: 18px;
    line-height: 1;
    padding: 0;

    span {
      display: block;
      padding: 15px 0;
      padding-right: 24px;
      margin: 0 24px;
      margin-right: 0;
      border-bottom: 1px solid #cfd8e2;
      // width: calc(100% - 16px);
      flex-grow: 2;
    }
  }
  .itc-select__dropdown {
    top: 100%;
    border-radius: 0;
    max-height: 340px;
  }
  // раскрытый список
  .itc-select_show {
    .itc-select__toggle {
      border-radius: 4px 4px 0px 0px;
    }
  }
}

.itc-select {
  margin: 0;
}
.itc-select__toggle::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' fill='none'%3E%3Cpath stroke='%2300163A' stroke-linecap='round' stroke-width='2' d='M13 1 7 7 1 1'/%3E%3C/svg%3E");
  width: 13px;
  height: 8px;
}

@media (max-width: 768px) {
  .select-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    padding-bottom: 280px;
  }
}
@media (max-width: 650px) {
  .hero {
    padding-bottom: 230px;
  }

  .hero .title {
    font-size: 46px !important;
  }
}

@media (max-width: 570px) {
  .select-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .title {
    padding-bottom: 1em;
    margin: 0;
  }

  .select-grid__group-name {
    font-size: 16px;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 425px) {
  .hero  {
    padding-bottom: 190px;
    padding-top: 100px;
  }
  .hero .title {
    font-size: 35px !important;
}
}
