.map {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 40px;
  &--transform {
    position: relative;
    margin-top: -160px;
    margin-bottom: 0;
  }

  &_wrapper {
    width: 100%;
    position: relative;
    z-index: 10;
  }
  &__content {
    height: 464px;
    width: 100%;
  }

  @media (max-width: 768px) {
    &__content {
      height: 320px;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

/** dealer-detail */
[class*="copyrights-pane"] {
  display: none !important;
}
