.map {
  max-width: 1504px;
  margin: 0 auto;
  margin-top: -160px;
  border-radius: 4px;
  overflow: hidden;

  &_wrapper {
    width: 100%;
    position: relative;
    z-index: 10;
  }
  &__content {
    height: 464px;
    width: 100%;
  }

  @media (max-width: 768px) {
    &__content {
      height: 320px;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

/** dealer-detail */
[class*="copyrights-pane"] {
  display: none !important;
}
