.home-screen {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100%;
  background: var(--Grad);
  color: var(--White);
  padding-top: 206px;
  min-height: 100vh;
  &__slide {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1376px 96px;
    gap: 32px;
    align-items: center;
  }
  &__slide-grid {
    display: flex;
    align-items: center;
    max-width: 1376px;
    width: 100%;
  }
  &__image {
    max-width: 400px;
    width: 100%;
    img {
      display: block;
    }
  }
  &__details {
    max-width: 864px;
    width: 100%;
    margin-left: auto;
  }
  &__details-top {
    margin-bottom: 22px;

  }
  .tags-with-label {
    p {
      color: var(--White);
      opacity: 1;
      font-size: 18px;
    }
  }
  .tag-list__link {
    background-color: var(--Cyan);
    color: var(--White);
    border-color: var(--Cyan);
  }

  &__details-center {
    padding-bottom: 36px;
    margin-bottom: 45px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 2s, opacity 0.9s;
      width: 0;
      height: 1px;
      background-color: rgba(#ffffff, 0.15);
      opacity: 0;
    }
    .title {
      font-size: 64px;
      text-transform: initial;
      line-height: 1.12;
    }
  }

  &__details-bottom {
    display: flex;
    align-items: flex-start;
  }

  .votes-number {
    color: rgba(#fff, 0.7);
    span {
      font-size: 56px;
      color: rgba(#fff, 1);
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 224px);
    margin-left: 32px;
    gap: 32px;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10%;
  }
  .button {
    font-size: 14px;
    padding: 22px 45px;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .swiper {
    width: 100%;
    height: 100%;
    overflow: initial;
  }


  .swiper-slide {
    transition: opacity 0.3s;
  }

  .swiper-slide-active {
    opacity: 1;
    .home-screen__details-center::after {
      width: 100%;
      opacity: 1;
    }
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: 0;
  }

  &__navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: initial;
    right: initial;

    .swiper-button {
      position: relative;
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
      margin-bottom: 45px;
      &:after {
        display: none;
      }
      svg {
        pointer-events: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .swiper-pagination {
      display: flex;
      flex-direction: column;
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
      position: relative;
      width: max-content;
      margin-bottom: 45px;

    }
    .swiper-pagination-bullet {
      margin: 0 !important;
      background-color: var(--Cyan);
      opacity: 1;
      cursor: pointer;
      border-radius: 50%;
      margin-bottom: 24px !important;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;

      &::before {
        width: 24px;
        height: 24px;
        pointer-events: none;
        position: absolute;
        content: '';
        display: block;
        border: 2px solid;
        border-color: transparent;
        transition: border-color 0.3s;
        border-radius: 50%;
      }


      &:last-child {
        margin-bottom: 0;
      }

      &-active {
        background-color: var(--White);
        &::before {
          border-color: var(--White);
        }
      }
    }
  }
}
