.navigation {
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__link {
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px 20px 40px;
    background-color: transparent;
    transition: background-color 0.3s linear, color 0.3s, padding 0.3s;
    color: var(--White);
    span {
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: inherit;
      text-decoration: none;
      pointer-events: none;
      text-align: center;
      margin: 0;
    }
    svg {
      display: none;
      flex-shrink: 0;
      pointer-events: none;
      transition: transform 0.3s;
      transform: rotate(0);
    }

    &.current-page {
      background: var(--Blue);
    }
  }

  &__item--mod &__link {
    padding: 0;
    justify-content: flex-end;
    margin-left: 23px;

    svg path,
    svg rect {
      transition: stroke 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;

      svg path,
      svg rect {
        stroke: var(--Cyan);
      }
    }
  }

  &__item--mod span {
    display: none;
  }
  &__item--mod &__link {
    background-color: transparent !important;
  }

  &__item--mod svg {
    display: block;
  }

  // активный пункт меню
  &__link.active,
  &__link:not([href]) {
    background-color: var(--Cyan);
    color: var(--White) !important;
  }

  &__item:hover {
    .navigation__link {
      background-color: var(--Blue);
    }
    .sub-navigation {
      opacity: 1;
      pointer-events: initial;
      visibility: initial;
    }
  }

  @media (max-width: 1440px) {
    &__list {
      display: block;
    }
    &__item:hover {
      background-color: transparent;
    }
    .navigation__link.active,
    .navigation__link:not([href]) {
      background-color: transparent;
    }
    &__link {
      justify-content: space-between;
      border-bottom: 1px solid;
      border-color: rgba(#d9d9d9, 0.2);
      padding: 20px 0;
      margin: 0 48px;

      span {
        margin-right: 12px;
        text-align: initial;
      }
      svg {
        display: block;
      }
    }
    &__item:hover &__link {
      background-color: transparent;
    }
    &__item--mod {
      display: none;
    }
    // активный пункт -аккордеон
    &__item.active {
      .navigation__link svg {
        transform: rotate(-90deg);
      }
    }
    &__wrapper {
      position: relative;
      padding-top: 15px;

      &:after {
        content: "";
        display: block;
        width: calc(100% - 48px - 48px);
        margin: 0 48px;
        height: 1px;
        background-color: rgba(217, 217, 217, 0.2);
        position: absolute;
        top: 0;
      }
    }
    &__item {
      background-color: transparent;
      &.active-mod {
        background-color: var(--Cyan);
      }
    }
  }

  @media (max-width: 768px) {
    &__link {
      margin: 0 40px;
    }

    &__wrapper {
      padding-top: 43px;
    }
    __wrapper:after {
      width: calc(100% - 80px);
      margin: 0 40px;
    }
  }

  @media (max-width: 500px) {
    &__link {
      margin: 0 20px;
    }
    &__wrapper:after {
      width: calc(100% - 40px);
      margin: 0 20px;
    }
  }
}

.sub-navigation {
  background: var(--Blue);
  position: absolute;
  width: 100%;
  max-width: 100%;
  padding: 32px;
  left: 0;
  top: 100%;
  margin-top: -1px;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;

  &.show {
    opacity: 1;
    pointer-events: initial;
    visibility: initial;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 6px 32px;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s;
    font-size: 14px;
    position: relative;

    span {
      position: relative;
    }
    svg {
      margin-right: 12px;
      position: relative;
      transition: transform 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: left 0.3s, right 0.3s, background-color 0.3s;
      pointer-events: none;
      border-radius: 4px;
      background-color: transparent;
    }

    &:active::before,
    &.active::before,
    &:hover::before {
      left: -15px;
      right: -15px;
      background-color: var(--Cyan);
    }
  }

  @media (max-width: 1440px) {
    position: initial;
    margin: 0;
    padding: 0;
    width: initial;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    background-color: transparent;

    .wrapper {
      padding: 0;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
    &__link {
      font-size: 16px;
      color: rgba(#ffffff, 0.7);
      svg {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 700px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

.active .sub-navigation {
  position: initial;
  margin-top: 0;
  opacity: initial;
  pointer-events: initial;
  visibility: initial;
  padding: 32px 48px;
  height: auto;

  @media (max-width: 768px) {
    padding: 32px 40px;
  }

  @media (max-width: 500px) {
    padding: 32px 20px;
  }
}
