.news {
  background-color: rgba(#e9eff5, 0.5);

  &__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  a {
    display: block;
  }
  &__image {
    margin-bottom: 27px;
    border-radius: 4px;
    overflow: hidden;
    transition: scale 0.3s;
    img {
      width: 100%;
      display: block;
      margin: 0;
    }
  }
  &__date {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: rgba(15, 44, 77, 0.7);
    margin-bottom: 12px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.36;
    color: var(--DarkBlue);
    margin: 0;
    display: block;
    text-transform: initial;
    transition: color 0.3s;
  }

  a:hover,
  a:active,
  a:focus {
    .news__image {
      scale: 1.05;
    }
    .news__title {
      color: var(--Cyan);
    }
  }
}
